---
import spotifyLogo from '../assets/spotify.svg';
import amazonLogo from '../assets/amazon.svg';
import youtubeLogo from '../assets/youtube.svg';
import appleLogo from '../assets/apple.svg';
import background from '../assets/background.svg';
---
<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<h1>Verdad que te engañé?</h1>
			<h2>Escucha mi canción aquí</h2>
			<section id="links">
				<a href="https://open.spotify.com/artist/7CA2VhlKcqsnQPRyu1fXEV?si=xdj3ul0HSbCDZ7EX7OCMsQ">
					<img id="spotify" src={spotifyLogo.src} alt="spotify">
				</a>
				<a href="https://music.amazon.com.mx/albums/B0F3ZZSG9F?ref=dm_sh_am4a_B0F3ZNRP1D_6r7PQAiW4nW1HJ&trackAsin=B0F3ZS4JKP">
					<img id="amazon" src={amazonLogo.src} alt="amazon">
				</a>
				<a href="https://music.youtube.com/watch?v=ycaHNEyC8J4&si=vtNeHtVFRBdlKWmm">
					<img id="youtube" src={youtubeLogo.src} alt="youtube">
				</a>
				<a href="https://music.apple.com/mx/album/quiero-un-t%C3%A9-quiero/1807242914?i=1807242918">
					<img id="apple" src={appleLogo.src} alt="apple">
				</a>
			</section>
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	#hero h1 {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 32px;
		line-height: 1;
	}

	#hero h2 {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 24px;
	}
	#hero svg {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 18px;
	}

	#links {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: center;
		justify-items: center;
		gap: 16px;
		margin-top: 64px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a {
		max-height: 3em;
		height: 3em;
		margin-left: 8px;
	}

	#links a #spotify  {
		height: 4em;
	}

	#links a #amazon  {
		height: 2.5em;
	}

	#links a #youtube {
		height: 2.5em;
	}

	#links a #apple {
		height: 2em;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
